# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number=6
print(number)

6

##### Assinging float

In [6]:
number_float=2.3

print(number_float)

number_float2= 1.
print(type(number_float2))

2.3
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1=2
num2=5.7
result=num1+num2
print(result)

result+=5
print(result)

7.7
12.7

##### Subtraction

In [12]:
result_dif=num2-num1
print(result_dif)

result_dif -=3
print(result_dif)

3.7
0.7000000000000002

##### Multiplication

In [15]:
num3=5
num4=10
result_prod=num3*num4
print(result_prod)

result_prod*=2
print(result_prod)

50
100

##### Division

In [19]:
result_div=num4/num3
print(result_div)

result_div/=2
print(result_div)

2.0
1.0

##### Floor Division

In [22]:
result_floor=5//2
print(result_floor)
print(type(result_floor))

2
<class 'int'>

##### Modulo

In [28]:
amount_of_seconds=330
no_of_min=amount_of_seconds//60
print(no_of_min)
seconds=amount_of_seconds % 60
print(seconds)

5
30

In [23]:
result_mod=5%2
print(result_mod)

1

##### Exponential

In [31]:
square = 5**2
print(square)

x=2
x**=2
print(square)

25
25

### String Input-Output

##### String Assignment

In [43]:
name= "Andre"
print(name)

name='andre'
print(name)

greeting= "welcome to class y'all"
print(greeting)
greetin='welcome to class y\'all'
print(greeting)

convo= 'he said"hello class"'
print(convo)

convo= "He said \"hello class\""
print(convo)

paragraph="hello \nwelcome to class \nThis is intro Python"
print(paragraph)

multiline="""
    hey
        look
                at 
    this 
        wild 
        string"""
print(multiline)

Andre
andre
welcome to class y'all
welcome to class y'all
he said"hello class"
He said "hello class"
hello
welcome to class
This is intro Python

    hey
        look
                at
    this
        wild
        string

##### print() <br>
<p>Don't forget about end=' '</p>

In [48]:
name="Francisco" 
print(name, "Is awesome because he is a cowboys fan!", "\n He lives in Texas", end=" ** ", sep="$$")
print('something else')

Francisco$$ Is awesome because he is a cowboys fan!$$
 He lives in Texas ** something else

##### String Concatenation

In [64]:
print(print("hey"))
first_name ="Sarah"
last_name="Stodder"
full_name= first_name + " " + last_name
print(full_name,)
full_name += " is a great student"
print(full_name)

print(first_name[0:4])
print(first_name, last_name[::-1].title())

hey
None
Sarah Stodder
Sarah Stodder is a great student
Sara
Sarah Reddots

# Type Conversion

In [72]:
num1=3
num2="4"
print(str(num1)+ num2)
print(num1+int(num2))

type(num2)

int()
str()
list()
dict()
tuple()
set()
float()

int("steve") #No NO NO Not IN MY HOUSE

34
7

ValueError: invalid literal for int() with base 10: 'steve'

##### input()

In [80]:
while True:
    age= input("what is your age?")
    if age.isdigit():
        age= int(age)
        break
    else:
        print("give me an int you moron!")
print(age)
print(type(age))

what is your age?sdbgjkabrj''
give me an int you moron!

KeyboardInterrupt: Interrupted by user

what is your age?44

##### format()

In [81]:
age= int(input("what is your age? "))
result_string= "You are{} years old and you are getting wiser!".format(age)
print(result_string)

what is your age? 44
You are44 years old and you are getting wiser!

##### Old Way (python 2)

In [85]:
age ="35"
result_string="you are %s years old and getting wiser" %age
print(result_string)

you are 35 years old and getting wiser

NameError: name 'f' is not defined

In [87]:

age = int(input("what is your age?"))
x= 123

result_string=f"you are {age} years old and getting wider {x} !...!"
print(result_string)

what is your age?165315651
you are 165315651 years old and getting wider 123 !...!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [90]:
# You have a 2019 Subaru Impreza that is painted Grey

color= input("What is the color?: ")
year= input("What is the year?: ")
make= input("What is the make?: ")
model= input("What is the model?: ")
results= f"what is the {color} {year} {make} and {model}"
print(results)

What is the color?: Grey
What is the year?: 2019
What is the make?: Subaru
What is the model?: Impreza
what is the Grey 2019 Subaru and Impreza

### If Statements

In [92]:
5==5

True

In [102]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)+

num1=5
num2=10
print("Start of the line")
if num1 == num2:
    print("Equal")

elif num1 < num2:
    print("num1 is less")
    
else:
    print("End of the line")

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

Start of the line
num1 is less

In [108]:
# INline if Statements ! ! !  Ternary Operator

name="John"
#If you rname is ohn your age has to be 33 if not your age is 99

age= 33 if name=="John" else 99
print(age)

age=0
if name =="John":
    age=33
elif name=="Steve":
    age=77
else:
     age:99
age = 33 if name=="John" else 77 if name == "Steven" else 99
print( "The final age is", age)

33
The final age is 33

##### 'is' keyword

In [109]:
# use the is keyword when checking for the smae exact obect.
# in this class ONLY USE THIS to check against None... or learn how it works. IS is memory location

my_var = None
if my_var is None:
    print('you have no var')

you have no var

##### 'in' keyword

In [111]:
# Membership check
char_name ="Max Payne"

if "max" in char_name:
    print("The character who lost everything...")

##### 'not in' keyword'

In [113]:
sega_char ="Sonic"
if 'a' not in sega_char:
    print("a is not in here")

a is not in here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [120]:
color=input("what is your favoirte color: ")

if "p" in color:
    print("That is the best color")
else:
    print("That color sucks")

"P is in the name" if "p" in input("what is you rname?").lower() else "p is not in the name"

what is your favoirte color: green
That color sucks
what is you rname?green

'p is not in the name'

## Using 'and'/'or' with If Statements

In [128]:
print(True or False)
print(True or True)
print(False or False)

True
True
False

In [124]:
print(True and False)
print(True and True)
print(False and False)

False
True
False
True
True
False

In [129]:
print("n" in "innier" and "i" in "innier")

True

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [131]:
# for [placeholder] in[iterable]
name= "Steven"

print('Yo Yo Yo')
for letter in name:
    print('*')
    print(letter)
    print('$')
print('Blah')

Yo Yo Yo
*
S
$
*
t
$
*
e
$
*
v
$
*
e
$
*
n
$
Blah

In [133]:
my_list=["tacos", 123, 123.5, [3,4,5], {"key": "vlue"}]


#ACCESS TO THE OBJECT


for thing in my_list:
    print(type(thing))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>

In [137]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [139]:
len([1,5,6])

3

In [140]:
# Access by index

for index in range(len(my_list)):
    print(index)

0
1
2
3
4

In [141]:
#enumerate
list(enumerate(my_list))

[(0, 'tacos'), (1, 123), (2, 123.5), (3, [3, 4, 5]), (4, {'key': 'vlue'})]

In [143]:
tup=(5,6)
print(tup)
x,y=tup
print(x)
print(y)

(5, 6)
5
6

In [144]:
for tup in enumerate(my_list):
    print(tup)

(0, 'tacos')
(1, 123)
(2, 123.5)
(3, [3, 4, 5])
(4, {'key': 'vlue'})

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [152]:
name= "Giovanni"
for letter in name:
    if letter.lower() =="n":
        print("you have an N")
        continue        
    print(f"We checked {letter}")

We checked G
We checked i
We checked o
We checked v
We checked a
you have an N
you have an N
We checked i

##### Break Statement

In [ ]:
# will break out of current loop

In [153]:
name= "Giovanni"
for letter in name:
    if letter.lower() =="n":
        print("you have an N")
        break       
    print(f"We checked {letter}")

We checked G
We checked i
We checked o
We checked v
We checked a
you have an N

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

In [ ]:
cube3={}
for number in range(1,11)
    cube3=number**3
    cube3.apend(cube)
    
for cube in cubes:
    print(cube)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [9]:
cubes = [number**3 for number in range(1,11)]

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [10]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

Number = 1

while(Number <= 100):
    count = 0
    i = 2
    
    while(i <= Number//2):
        if(Number % i == 0):
            count = count + 1
            break
        i = i + 1

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')
    Number = Number  + 1

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [12]:
age = int(input('Please enter a persons age.'))
if age < 18: print('Kids')
if age >18 and age < 65: print('Adults')
if age >65: print ('Seniors')

Please enter a persons age.30
Adults